.pet-container h2,
a {
  color: black;
}

.pet-container {
  margin: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  border-radius: 40px;
}
.jumbotron {
  background-color: aquamarine;
}
.pet-property {
  font-size: 2em;
  line-height: 0em;
}
.delete-pet-button {
  margin-left: 20px;
}
.header-option:first-of-type {
  padding-left: 10%;
}
.header-option:last-of-type {
  padding-right: 10%;
}
.pet-name {
  display: flex;
  flex-direction: row;
}
#new-tamagotchi {
  position: absolute;
  top: 0px;
  right: 0px;
}
#delete {
  float: right;
}
.spacer {
  position: relative;
  height: 10%;
}
#title {
  padding-left: 5%;
  display: flex;
  flex-direction: row;
  margin-top: 5%;
  margin-bottom: 2%;
}
.header-option button {
  width: 100%;
}
#delete-all-pets {
  float: right;
  width: 50%;
}
.pet-container button {
  border-radius: 20px;
  width: 90px;
}
.pet-container:nth-of-type(n) {
  background-color: green;
}
.pet-container:nth-of-type(2n) {
  background-color: blue;
}
.pet-container:nth-of-type(3n) {
  background-color: purple;
}
body {
  background-color: aquamarine;
}
.pet-image {
  border-radius: 30px;
  float: right;
  display: block;
  width: 150px;
  height: 150px;
  background-color: white;
  margin-right: 4%;
}
#sadpet {
  display: block;
  margin: auto;
  width: 300px;
  height: 200px;
  background-image: url("https://www.pngkey.com/png/detail/413-4138064_descargar-mametchi-png.png");
  background-size: cover;
}
